# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-preload-cache
.pub/
.build/

# Android related
**/android/**/gradle-wrapper.jar
*.apk
*.ap_
*.aab
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.keystore

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/**/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets
**/ios/Flutter/flutter_build
**/ios/Flutter/Release.xcconfig
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/.app.plist
**/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
**/ios/Runner/GeneratedPluginRegistrant.*

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/generated_plugin_registrant.cc
**/macos/Flutter/generated_plugin_registrant.h
**/macos/Flutter/generated_plugins.cmake

# Linux related
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/linux/flutter/ephemeral/.plugin_symlinks

# Web related
**/web/icons
**/web/manifest.json